# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore uploaded/testing files
samples/
pdfs/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore FAISS index files if you regenerate them
*.npz

# VSCode/IDE settings (optional)
.vscode/
.idea/
.DS_Store
